$midnight-blue: #0c365a;
$deep-sky-blue: #325baf;
$lime-green: #01d167;
$charcoal-gray: #222222;
$white-smoke: #f5f5f5;
$ash-gray: #aaaaaa;
$pale-blue: #fafcff;
$lavender-blue: #edf3ff;
$cyan-blue: #23cefd;
$white: #ffffff;
$light-sky-blue: #edf3ff;
$baby-blue: #fafcff;
$mint-green: #ddffec;
$red: #ff0000;
