@import "../../styles/variables";

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
  color: $midnight-blue;

  .modal {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: relative;
    width: 90%;
    min-height: 280px;
    overflow: auto;

    &-close {
      position: absolute;
      top: 0;
      right: 10px;
      cursor: pointer;
      font-size: 20px;
      font-weight: 700;
      &:hover {
        color: $red;
      }
    }
    &-submit {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 8px 12px;
      background-color: $lime-green;
      border-radius: 12px;
      position: absolute;
      right: 10px;
      bottom: 10px;
      color: $white;
      font-weight: 700;
    }
  }
}
