@import "../../styles/variables";

.sidebar {
  background-color: $midnight-blue;
  height: 30px;
  position: relative;
  &-logo {
    position: absolute;
    top: 10px;
    right: 24px;
    width: 25px;
    height: 25px;
  }
}
