@import "../../styles/variables";
.cardspage {
  background-color: $midnight-blue;
  color: $white;
  padding: 0 24px 24px;

  &-head {
    margin-bottom: 30px;
    font-weight: 600;
  }
  &-balance {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-text {
      font-size: 14px;
      margin-bottom: 10px;
    }
    &-amount {
      font-size: 24px;
      display: flex;
      align-items: center;

      span {
        padding: 4px 12px;
        margin-right: 10px;
        background-color: $lime-green;
        border-radius: 4px;
        font-size: 12px;
      }
    }
    &-cta {
      color: $cyan-blue;
      font-size: 13px;
      display: flex;
      align-items: center;

      img {
        margin-right: 6px;
        height: 16px;
        width: 16px;
      }
    }
  }
}
