@import "../../styles/variables";
@import "react-responsive-carousel/lib/styles/carousel.min.css";

.cardspage {
  color: $white;
  background-color: $midnight-blue;

  &-top-container {
    position: fixed;
    padding-top: 30px;
    &-logo {
      position: absolute;
      top: 10px;
      right: 24px;
      width: 25px;
      height: 25px;
    }
  }
  &-head {
    margin-bottom: 30px;
    font-weight: 600;
  }
  &-balance {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-text {
      font-size: 14px;
      margin-bottom: 10px;
    }
    &-amount {
      font-size: 24px;
      display: flex;
      align-items: center;

      span {
        padding: 4px 12px;
        margin-right: 10px;
        background-color: $lime-green;
        border-radius: 4px;
        font-size: 12px;
      }
    }
    &-cta {
      color: $cyan-blue;
      font-size: 13px;
      display: flex;
      align-items: center;

      img {
        margin-right: 6px;
        height: 16px;
        width: 16px;
      }
    }
  }
  .card-details {
    color: $midnight-blue;
    padding: 24px;
    &-heading {
      font-size: 14px;
      font-weight: 500;
      margin-right: 8px;
    }
    p {
      margin: 10px 0;
      font-size: 13px;
      font-weight: 300;
    }
  }
  &-bottom-container {
    position: relative;
    top: calc(100vh - calc(100vh - 458px));
    min-height: calc(100vh - 458px);
    background-color: $white;
    border-radius: 16px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding-bottom: 80px;
    border: 1px solid $white-smoke;
  }
}
